    
/*

#head {
  text-align: center;
  opacity: 1;
  float: left;
  width: 90%;
}

#close {
  float: right;
  padding: 30px;
  width: 10%;
  height: 120px;
  align-content: center;
}

#close1 {    
  width: 100%;
  height: 100%;
  margin: 0px; 
}

#close1:hover {
  text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  }









#hud {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#hud-item {
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

#hud-item1 {
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.hud-prefix {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

.hud-prefix1 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.hud-main-text {
  text-align: left;
  margin-left: 8px;
}

.hud-main-text1 {
  text-align: center;

 
}
.hud-main-text12 {
  text-align: center;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 0px; 
}

#progressBar {
  width: 100%;
  height: 40px;
  border: 3px solid #56a5eb;
  margin-left: 5px;
}

#scoreBar {
  width: 100%;
  height: 40px;
  border: 3px solid #56a5eb;  
}

#progressBarFull {
  width: 10%;
  height: 34px;
  background-color: #56a5eb; 
}


*/

 /*HEADER START*/
    #head {
      text-align: center;
      opacity: 1;
      float: left;      
      width: 80%;
    }

    #close {
      float: right;
      padding: 0px;
      width: 20%;
      height: 120px;
      align-content: center;
      padding-top: 25px;
    }

    #close1 { 
        
      width: 100%;
      height: 60%;
      margin: 0px; 
    }

    #close1:hover {      
      text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }

    #qName {

    }

    #quotes {

    }
  /*HEADER END*/ 


  /*HUD START*/
    #hud {
      display: flex;
      justify-content: space-between;
    }
    #hud-item {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 3px;
      
    }
    .hud-main-text {
      text-align: left;
      font-size: 12px;
      margin-bottom: 4px;
    }

    #progressBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      
    }

    #progressBarFull {
      width: 10%;
      height: 34px;
      background-color: #56a5eb;     
    }

    .btn-primary {
      width: 100%;
      margin-top: 50px;
      
    }

    #hud-item1 {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .hud-main-text1 {
      text-align: center;
      font-size: 12px;
      margin-bottom: 16px;
    }

    #scoreBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      align-content: center;
    }

    .hud-main-text12 {
      text-align: center;
      font-size: 15px;
      height: 100%;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px;
    }

  /*HUD END*/  

.mainpage {
  height: 100%;
  align-content: center; 
  width: 100%;
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
}



.quizz {
  margin-bottom: 115px;
  margin-top: 10px;
  align-content: center;
  width: 90vw;
  height: 460px;
  padding: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
  background-color: #dfdfdf;
  opacity: 0.8;
}
/*Container Start */


.choice-container {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  font-size: 15px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 15px 22px;
  background-color: #56a5eb;
  color: white;
  height: 50px;
}

.choice-text {
  padding-top: 15px;
  padding-bottom: 4px;
  padding-left: 10px;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}
/*Container End*/


/*MEDIA QUERIES START*/

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
 /*HEADER START*/
    #head {
      text-align: center;
      opacity: 1;
      float: left;      
      width: 80%;
    }

    #close {
      float: right;
      padding: 0px;
      width: 20%;
      height: 120px;
      align-content: center;
      padding-top: 25px;
    }

    #close1 { 
        
      width: 100%;
      height: 60%;
      margin: 0px; 
    }

    #close1:hover {      
      text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }
  /*HEADER END*/ 


  /*HUD START*/
    #hud {
      display: flex;
      justify-content: space-between;
    }
    #hud-item {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 3px;
      
    }
    .hud-main-text {
      text-align: left;
      font-size: 12px;
      margin-bottom: 4px;
    }

    #progressBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      
    }

    #progressBarFull {
      width: 10%;
      height: 34px;
      background-color: #56a5eb;     
    }

    .btn-primary {
      width: 100%;
      margin-top: 50px;
      
    }

    #hud-item1 {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .hud-main-text1 {
      text-align: center;
      font-size: 12px;
      margin-bottom: 16px;
    }

    #scoreBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      align-content: center;
    }

    .hud-main-text12 {
      text-align: center;
      font-size: 15px;
      height: 100%;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px;
    }

    
    

    

    

  /*HUD END*/  



}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

   /*HEADER START*/
    #head {
      text-align: center;
      opacity: 1;
      float: left;      
      width: 80%;
    }

    #close {
      float: right;
      padding: 0px;
      width: 20%;
      height: 120px;
      align-content: center;
      padding-top: 25px;
    }

    #close1 { 
      float: left;  
      width: 80%;
      height: 50%;
      margin: 0px;

    }

    #close1:hover {      
      text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }

    #qName {
      width: 80%;
      margin-left: 80px;
    }

    #quotes {
      width: 80%;
      margin-left: 80px;
    }

  /*HEADER END*/ 


  /*HUD START*/
    #hud {
      display: flex;
      justify-content: space-between;
    }
    #hud-item {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 3px;
      
    }
    .hud-main-text {
      text-align: left;
      font-size: 12px;
      margin-bottom: 6px;
    }

    #progressBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      
    }

    #progressBarFull {
      width: 10%;
      height: 34px;
      background-color: #56a5eb;     
    }

    .btn-primary {
      width: 100px;
      margin-top: 39px;
      
    }

    #hud-item1 {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .hud-main-text1 {
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 4px;
    }

    #scoreBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      align-content: center;
    }

    .hud-main-text12 {
      text-align: center;
      font-size: 15px;
      height: 100%;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px;
    }

    
    

    

    

  /*HUD END*/  
    
}
@media (min-width:568px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    /*HEADER START*/
    #head {
      text-align: center;
      opacity: 1;
      float: left;      
      width: 80%;
    }

    #close {
      float: right;
      padding: 0px;
      width: 20%;
      height: 120px;
      align-content: center;
      padding-top: 25px;
    }

    #close1 { 
      float: left;  
      width: 55%;
      height: 50%;
      margin: 0px;
      margin-left: 20px;

    }

    #close1:hover {      
      text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }

    #qName {
      width: 80%;
      margin-left: 115px;
    }

    #quotes {
      width: 80%;
      margin-left: 115px;
    }

  /*HEADER END*/ 


  /*HUD START*/
    #hud {
      display: flex;
      justify-content: space-between;
    }
    #hud-item {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 3px;
      
    }
    .hud-main-text {
      text-align: left;
      font-size: 20px;
      margin-bottom: 4px;
    }

    #progressBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      
    }

    #progressBarFull {
      width: 10%;
      height: 34px;
      background-color: #56a5eb;     
    }

    .btn-primary {
      width: 100px;
      margin-top: 46px;
      
    }

    #hud-item1 {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .hud-main-text1 {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 2px;
    }

    #scoreBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      align-content: center;
    }

    .hud-main-text12 {
      text-align: center;
      font-size: 18px;
      height: 100%;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 0px;
    }

  /*HUD END*/  

}


@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands detops */ 
  /*HEADER START*/
    #head {
      text-align: center;
      opacity: 1;
      float: left;
      padding-left: 10%;
      width: 80%;
    }

    #close {
      float: right;
      padding: 30px;
      width: 20%;
      height: 120px;
      align-content: center;
    }

    #close1 {    
      
      width: 56%;
      height: 78%;
      margin-left: 20px; 
    }

    #close1:hover {      
      text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }
  /*HEADER END*/ 


  /*HUD START*/
    #hud {
      display: flex;
      justify-content: space-between;
    }

    .hud-prefix {
      text-align: left;
      font-size: 8px;
      padding-top: 2px;
      margin-left: 50px;

    }
    .hud-prefix1 {
      text-align: center;
      font-size: 8px;
      margin-top: 10px;
      
    }

    .hud-main-text {
      text-align: left;
      font-size: 22px;
    }

    .hud-main-text1 {
      text-align: center;
      font-size: 22px;
    }

    .hud-main-text12 {
      text-align: center;
      font-size: 18px;
      height: 100%;
      margin-top: 8px;
      margin-bottom: 0px;
    }

    .btn-primary {
      width: 100px;
      margin-top: 48px;
      margin-left: 24px;
    }
    #progressBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      
    }

    #scoreBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      align-content: center;
    }

    #progressBarFull {
      width: 10%;
      height: 34px;
      background-color: #56a5eb;     
    }

  /*HUD END*/  
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
#head {
      text-align: center;
      opacity: 1;
      float: left;      
      width: 80%;
    }

    #close {
      float: right;
      padding: 0px;
      width: 20%;
      height: 120px;
      align-content: center;
      padding-top: 30px;
    }

    #close1 { 
      float: left;  
      width: 38%;
      height: 60%;
      margin: 0px;
      margin-left: 50px;

    }

    #close1:hover {      
      text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }

    #qName {
      width: 80%;
      margin-left: 115px;
    }

    #quotes {
      width: 80%;
      margin-left: 115px;
    }

  /*HEADER END*/ 


  /*HUD START*/
    #hud {
      display: flex;
      justify-content: space-between;
    }
    #hud-item {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 3px;
      
    }
    .hud-main-text {
      text-align: left;
      font-size: 20px;
      margin-bottom: 4px;
    }

    #progressBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      
    }

    #progressBarFull {
      width: 10%;
      height: 34px;
      background-color: #56a5eb;     
    }

    .btn-primary {
      width: 100px;
      margin-top: 46px;
      margin-left: 20px;
      
    }

    #hud-item1 {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .hud-main-text1 {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 2px;
    }

    #scoreBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      align-content: center;
    }

    .hud-main-text12 {
      text-align: center;
      font-size: 18px;
      height: 100%;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 0px;
    }

  /*HUD END*/  

}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    #head {
      text-align: center;
      opacity: 1;
      float: left;      
      width: 80%;
    }

    #close {
      float: right;
      padding: 0px;
      width: 20%;
      height: 120px;
      align-content: center;
      padding-top: 30px;
    }

    #close1 { 
      float: left;  
      width: 25%;
      height: 60%;
      margin: 0px;
      margin-left: 120px;

    }

    #close1:hover {      
      text-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }

    #qName {
      width: 90%;
      margin-left: 115px;
    }

    #quotes {
      width: 90%;
      margin-left: 115px;
    }

  /*HEADER END*/ 


  /*HUD START*/
    #hud {
      display: flex;
      justify-content: space-between;
    }
    #hud-item {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 3px;
      
    }
    .hud-main-text {
      text-align: left;
      font-size: 20px;
      margin-bottom: 4px;
    }

    #progressBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      
    }

    #progressBarFull {
      width: 10%;
      height: 34px;
      background-color: #56a5eb;     
    }

    .btn-primary {
      width: 100px;
      margin-top: 46px;
      margin-left: 20px;
      
    }

    #hud-item1 {
      width: 30%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    .hud-main-text1 {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 2px;
    }

    #scoreBar {
      width: 100%;
      height: 40px;
      border: 3px solid #56a5eb;
      align-content: center;
    }

    .hud-main-text12 {
      text-align: center;
      font-size: 18px;
      height: 100%;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 0px;
    }

  /*HUD END*/ }
